      <!--==========================
    Why Us Section
  ============================-->
  <section id="why-us" class="wow fadeIn">
    <div class="container">
      <header class="section-header">
        <h3>Why Choose Us</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
      </header>
      <div class="row row-eq-height justify-content-center">
        <div class="col-lg-4 mb-4">
          <div class="card wow bounceInUp">
            <i class="fa fa-diamond"></i>
            <div class="card-body">
              <h5 class="card-title">Quality</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut perspiciatis unde
                omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card wow bounceInUp">
            <i class="fa fa-object-group"></i>
            <div class="card-body">
              <h5 class="card-title">Reliability</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut perspiciatis unde
                omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card wow bounceInUp">
            <i class="fa fa-language"></i>
            <div class="card-body">
              <h5 class="card-title">Language Support</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut perspiciatis unde
                omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- #why-us -->